<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <welcome-file-list>
        <welcome-file>Login.html</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.project.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.project.listener.ApplicationServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.project.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>com.project.servlet.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdaterecordServlet</servlet-name>
        <servlet-class>com.project.servlet.UpdaterecordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewRecordServlet</servlet-name>
        <servlet-class>com.project.servlet.AddNewRecordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewProjectServlet</servlet-name>
        <servlet-class>com.project.servlet.AddNewProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdaterecordServlet</servlet-name>
        <url-pattern>/UpdaterecordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewRecordServlet</servlet-name>
        <url-pattern>/AddNewRecordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewProjectServlet</servlet-name>
        <url-pattern>/AddNewProjectServlet</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:sqlserver://localhost:1433;databaseName=dbConnection</param-value>
    </context-param>
    <context-param>
        <param-name>className</param-name>
        <param-value>com.microsoft.sqlserver.jdbc.SQLServerDriver</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>sa</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>12345</param-value>
    </context-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
